<main>

    <section id="all-listings">
        <h1>Apartments for recents</h1>

        {{#if hasHomes}}
        {{#each homes}}
        <div class="card">
            <h3>{{name}}</h3>
            <p>{{description}}</p>

            <div class="cta-container"><a href="/houses/{{_id}}/details" class="det-link">Details</a></div>
            <div class="card_circle"><img src="{{homeImage}}"></div>

        </div>
        {{/each}}
        {{else}}
        <!-- If there  are still no offers for housing in the database display: -->
        <div class="no-data-listing">
            <p class="no-offer">There are no housing offers found...</p>
        </div>
        {{/if}}
    </section>
</main>